.treelist-level[b-bg7gxebsw4] {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Header */
.treelist-header[b-bg7gxebsw4] {
    position: sticky;
    top: 0;
    z-index: 10;
    display: grid;
    align-items: center;
    font-weight: bold;
    background-color: lightblue;
    border-bottom: 1px solid #ccc;
    padding: 4px 0;
    
}
    .treelist-header .header-cell[b-bg7gxebsw4] {
        padding: 4px 8px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

/* Row */
.treelist-row[b-bg7gxebsw4] {
    /*display: grid;*/
    align-items: center;
    border-bottom: 1px solid darkgray;
    cursor: pointer;
    min-height: 28px;
    background-color: whitesmoke;
    touch-action: manipulation;

}

    .treelist-row:hover[b-bg7gxebsw4] {
        background-color: #f9f9f9;
    }

    .treelist-row .selected[b-bg7gxebsw4] {
        background-color: #dbeafe; /* xanh nhạt khi dòng được chọn */
    }
    .treelist-row.selected[b-bg7gxebsw4] {
        background-color: #dbeafe;
    }
/* Cell */
.tl-cell[b-bg7gxebsw4] {
    padding: 2px 6px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.button-cell[b-bg7gxebsw4]{

}
.top-level[b-bg7gxebsw4] { /*style cho dòng level đầu tiên trong cây*/
    font-style: italic;
    font-weight: bold;
    color: darkblue;
}

/* Expander cell */
.tl-expander[b-bg7gxebsw4] {
    width: 30px; /* khớp ExpanderWidth */
    text-align: center;
}

.tl-expander-icon[b-bg7gxebsw4] {
    cursor: pointer;
    color: #555;
}

    .tl-expander-icon:hover[b-bg7gxebsw4] {
        color: #000;
    }
/* Mobile layout */
.tl-mobile-line[b-bg7gxebsw4] {
    display: flex;
    gap: 6px;
    line-height: 1.4;
}

    .tl-mobile-line.mobile-main[b-bg7gxebsw4] {
        font-weight: 600;
        padding-left: 0;
    }

    .tl-mobile-line.mobile-sub[b-bg7gxebsw4] {
        padding-left: 12px; /* 👈 thụt dòng không phải dòng đầu */
    }

.mobile-header[b-bg7gxebsw4] {
    min-width: 90px;
    color: #666;
    font-size: 0.85rem;
}

.mobile-value[b-bg7gxebsw4] {
    flex: 1;
    word-break: break-word;
}
.treelist-mobile-cell[b-bg7gxebsw4] {
    display: flex;
    align-items: center;
    min-height: 28px;
}

.mobile-indent[b-bg7gxebsw4] {
    padding-left: 12px;
}