/* /Components/Layout/AdminLayout.razor.rz.scp.css */
.page[b-tttcmrwthp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-tttcmrwthp] {
    flex: 1;
}

.sidebar[b-tttcmrwthp] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-tttcmrwthp] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-tttcmrwthp]  a, .top-row[b-tttcmrwthp]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-tttcmrwthp]  a:hover, .top-row[b-tttcmrwthp]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-tttcmrwthp]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-tttcmrwthp] {
        justify-content: space-between;
    }

        .top-row[b-tttcmrwthp]  a, .top-row[b-tttcmrwthp]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-tttcmrwthp] {
        flex-direction: row;
    }

    .sidebar[b-tttcmrwthp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-tttcmrwthp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-tttcmrwthp]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-tttcmrwthp], article[b-tttcmrwthp] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-tttcmrwthp] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-tttcmrwthp] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* /Components/Layout/AdminNavMenu.razor.rz.scp.css */
.navbar-toggler[b-gqsuqnvao2] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-gqsuqnvao2] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-gqsuqnvao2] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-gqsuqnvao2] {
    font-size: 1.1rem;
}

.bi[b-gqsuqnvao2] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-gqsuqnvao2] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-gqsuqnvao2] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-gqsuqnvao2] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-gqsuqnvao2] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-gqsuqnvao2] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-gqsuqnvao2] {
        padding-bottom: 1rem;
    }

    .nav-item[b-gqsuqnvao2]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-gqsuqnvao2]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-gqsuqnvao2]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-gqsuqnvao2] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-gqsuqnvao2] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-gqsuqnvao2] {
        display: none;
    }

    .nav-scrollable[b-gqsuqnvao2] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
.navbar[b-gqsuqnvao2] {
    border-bottom: 1px solid #d6d5d5;
    background-color: #002db3;
    width: 100%;
}
/* /Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-aqtmic02pq] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-aqtmic02pq] {
    flex: 1;
}

.sidebar[b-aqtmic02pq] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-aqtmic02pq] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-aqtmic02pq]  a, .top-row[b-aqtmic02pq]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-aqtmic02pq]  a:hover, .top-row[b-aqtmic02pq]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-aqtmic02pq]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-aqtmic02pq] {
        justify-content: space-between;
    }

    .top-row[b-aqtmic02pq]  a, .top-row[b-aqtmic02pq]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-aqtmic02pq] {
        flex-direction: row;
    }

    .sidebar[b-aqtmic02pq] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-aqtmic02pq] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-aqtmic02pq]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-aqtmic02pq], article[b-aqtmic02pq] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-aqtmic02pq] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-aqtmic02pq] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* /Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-jtn08otim1] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-jtn08otim1] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-jtn08otim1] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-jtn08otim1] {
    font-size: 1.1rem;
}

.bi[b-jtn08otim1] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-jtn08otim1] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-jtn08otim1] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-jtn08otim1] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-jtn08otim1] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-jtn08otim1] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-jtn08otim1] {
        padding-bottom: 1rem;
    }

    .nav-item[b-jtn08otim1]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-jtn08otim1]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-jtn08otim1]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-jtn08otim1] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-jtn08otim1] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-jtn08otim1] {
        display: none;
    }

    .nav-scrollable[b-jtn08otim1] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Components/Layout/ReconnectModal.razor.rz.scp.css */
.components-reconnect-first-attempt-visible[b-wy0633cuke],
.components-reconnect-repeated-attempt-visible[b-wy0633cuke],
.components-reconnect-failed-visible[b-wy0633cuke],
.components-pause-visible[b-wy0633cuke],
.components-resume-failed-visible[b-wy0633cuke],
.components-rejoining-animation[b-wy0633cuke] {
    display: none;
}

#components-reconnect-modal.components-reconnect-show .components-reconnect-first-attempt-visible[b-wy0633cuke],
#components-reconnect-modal.components-reconnect-show .components-rejoining-animation[b-wy0633cuke],
#components-reconnect-modal.components-reconnect-paused .components-pause-visible[b-wy0633cuke],
#components-reconnect-modal.components-reconnect-resume-failed .components-resume-failed-visible[b-wy0633cuke],
#components-reconnect-modal.components-reconnect-retrying[b-wy0633cuke],
#components-reconnect-modal.components-reconnect-retrying .components-reconnect-repeated-attempt-visible[b-wy0633cuke],
#components-reconnect-modal.components-reconnect-retrying .components-rejoining-animation[b-wy0633cuke],
#components-reconnect-modal.components-reconnect-failed[b-wy0633cuke],
#components-reconnect-modal.components-reconnect-failed .components-reconnect-failed-visible[b-wy0633cuke] {
    display: block;
}


#components-reconnect-modal[b-wy0633cuke] {
    background-color: white;
    width: 20rem;
    margin: 20vh auto;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete;
    animation: components-reconnect-modal-fadeOutOpacity-b-wy0633cuke 0.5s both;
    &[open]

{
    animation: components-reconnect-modal-slideUp-b-wy0633cuke 1.5s cubic-bezier(.05, .89, .25, 1.02) 0.3s, components-reconnect-modal-fadeInOpacity-b-wy0633cuke 0.5s ease-in-out 0.3s;
    animation-fill-mode: both;
}

}

#components-reconnect-modal[b-wy0633cuke]::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    animation: components-reconnect-modal-fadeInOpacity-b-wy0633cuke 0.5s ease-in-out;
    opacity: 1;
}

@keyframes components-reconnect-modal-slideUp-b-wy0633cuke {
    0% {
        transform: translateY(30px) scale(0.95);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes components-reconnect-modal-fadeInOpacity-b-wy0633cuke {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes components-reconnect-modal-fadeOutOpacity-b-wy0633cuke {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.components-reconnect-container[b-wy0633cuke] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#components-reconnect-modal p[b-wy0633cuke] {
    margin: 0;
    text-align: center;
}

#components-reconnect-modal button[b-wy0633cuke] {
    border: 0;
    background-color: #6b9ed2;
    color: white;
    padding: 4px 24px;
    border-radius: 4px;
}

    #components-reconnect-modal button:hover[b-wy0633cuke] {
        background-color: #3b6ea2;
    }

    #components-reconnect-modal button:active[b-wy0633cuke] {
        background-color: #6b9ed2;
    }

.components-rejoining-animation[b-wy0633cuke] {
    position: relative;
    width: 80px;
    height: 80px;
}

    .components-rejoining-animation div[b-wy0633cuke] {
        position: absolute;
        border: 3px solid #0087ff;
        opacity: 1;
        border-radius: 50%;
        animation: components-rejoining-animation-b-wy0633cuke 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .components-rejoining-animation div:nth-child(2)[b-wy0633cuke] {
            animation-delay: -0.5s;
        }

@keyframes components-rejoining-animation-b-wy0633cuke {
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}
/* /Components/Pages/Home/Home.razor.rz.scp.css */
  .dashboard[b-nzs1jd8hhg] {
        padding: 25px;
    }

    .welcome[b-nzs1jd8hhg] {
        background: #fff;
        padding: 25px;
        border-radius: 12px;
        margin-bottom: 25px;
        box-shadow: 0 2px 8px rgba(0,0,0,.08);
    }

    .cards[b-nzs1jd8hhg] {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
    }

    .card[b-nzs1jd8hhg] {
        color: white;
        padding: 20px;
        border-radius: 12px;
        transition: .25s;
        cursor: pointer;
    }

        .card:hover[b-nzs1jd8hhg] {
            transform: translateY(-4px);
        }

    .revenue[b-nzs1jd8hhg] {
        background: #16a34a;
    }

    .order[b-nzs1jd8hhg] {
        background: #2563eb;
    }

    .customer[b-nzs1jd8hhg] {
        background: #ea580c;
    }

    .inventory[b-nzs1jd8hhg] {
        background: #9333ea;
    }

    .bottom[b-nzs1jd8hhg] {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    .panel[b-nzs1jd8hhg] {
        background: white;
        min-height: 320px;
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 2px 8px rgba(0,0,0,.08);
    }

/* /Components/Pages/Logins/Login.razor.rz.scp.css */
body[b-3rgqbvgo26] {
}

.login-container[b-3rgqbvgo26] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Chiều cao toàn màn hình f0f2f5*/
    /*background-color: white;*/
}

.login-box[b-3rgqbvgo26] {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
}

.form-control[b-3rgqbvgo26] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 0.25rem;
}


/* /Components/Pages/Logins/LoginLayout.razor.rz.scp.css */
.main-login[b-sb0ckahi1d] {
    margin-top: auto !important;
    margin-bottom: 0;
    padding: 0;
    background-color: var(--dark-bg);
    height: 100vh;
    width: 100%;
}
/* /Components/UC/DateEngine/VietDateInput.razor.rz.scp.css */
.viet-date-container[b-1jdu7vt9zi] {
    display: inline-flex;
    align-items: center;
    cursor: text;
    padding: 0.375rem 0.75rem;
    overflow: hidden; /* Giảm thiểu khoảng cách tràn */
}

/* Ẩn các thuộc tính input cơ bản */
.date-cell[b-1jdu7vt9zi] {
    border: none;
    background: transparent;
    padding: 0;
    text-align: center;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}

/* Đặt chiều rộng chính xác cho từng loại ô */
.day-month-cell[b-1jdu7vt9zi],
.time-cell[b-1jdu7vt9zi] {
    width: 2ch; /* 2 ký tự */
}

.year-cell[b-1jdu7vt9zi] {
    width: 4.5ch; /* 4.5 ký tự */
}

/* Style dấu phân cách */
.date-separator[b-1jdu7vt9zi],
.time-separator[b-1jdu7vt9zi] {
    color: #6c757d;
    user-select: none;
    padding: 0; /* Xóa padding để gọn */
}

.date-space[b-1jdu7vt9zi] {
    width: 1ch; /* Khoảng cách giữa date và time */
}

/* Zone cảnh báo (Căn phải) */
.date-hint-zone[b-1jdu7vt9zi] {
    margin-left: auto;
    cursor: help;
}

/* Style cho container khi lỗi */
.is-invalid.viet-date-container[b-1jdu7vt9zi] {
    border-color: #dc3545;
}
/* /Components/UC/Dialog/ConfirmDialog.razor.rz.scp.css */
.cd-overlay[b-nopjq9zkjl] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.cd-dialog[b-nopjq9zkjl] {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    width: 600px;
    max-width: 600px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* responsive */
@media (max-width: 768px) {
    .cd-dialog[b-nopjq9zkjl] {
        width: 70%;
    }
}

/* header */
.cd-header[b-nopjq9zkjl] {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.cd-icon[b-nopjq9zkjl] {
    font-size: 22px;
}

.cd-title[b-nopjq9zkjl] {
    font-size: 18px;
    font-weight: 600;
    color: #222;
}

/* body */
.cd-body[b-nopjq9zkjl] {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 20px;
}

/* footer */
.cd-footer[b-nopjq9zkjl] {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* buttons */
.cd-btn-primary[b-nopjq9zkjl] {
    background-color: #0d6efd;
    color: white;
    border-radius: 8px;
    padding: 6px 16px;
}

.cd-btn-secondary[b-nopjq9zkjl] {
    background-color: #6c757d;
    color: white;
    border-radius: 8px;
    padding: 6px 16px;
}

.cd-btn-light[b-nopjq9zkjl] {
    background-color: #e9ecef;
    color: #333;
    border-radius: 8px;
    padding: 6px 16px;
}
/* /Components/UC/Dialog/EditDialog.razor.rz.scp.css */
body[b-fs3gairoaf] {
}
.res-size[b-fs3gairoaf]{
    min-width:500px;
    width:fit-content;
}
@media(max-width: 767.98px)
{
    .res-size[b-fs3gairoaf]{
        min-width: 300px;
    }
}
/* /Components/UC/FilterSelect/FilterSelect.razor.rz.scp.css */
.btn-hover-effect:hover[b-jaw5p1wccn] {
    background-color: #0d6efd; /* hoặc màu khác */
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}
.filter-dropdown[b-jaw5p1wccn] {
    position: absolute;
    background-color: lightcyan;
    border: 1px solid #ccc;
    border-radius: 0px 0px 14px 14px;
    margin-top: 3px;
    z-index: 1000;
    max-height: 200px; /* 👈 Giới hạn chiều cao dropdown */
    overflow-y: auto; /* 👈 Hiện scroll nếu vượt quá */
    width: 100%; /* 👈 Bằng với input select */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    overflow-y: auto;
}
.filter-select-wrapper[b-jaw5p1wccn] {
    position: relative;
    flex-wrap: nowrap !important;
}

    .filter-select-wrapper input[b-jaw5p1wccn] {
        flex: 1 1 auto;
        min-width: 0;
    }
/* /Components/UC/ImagePreview.razor.rz.scp.css */
.previewer-container[b-h1pg1kqch1] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.preview-frame[b-h1pg1kqch1] {
    position: relative;
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    background-color: #fff;
    border-radius: 12px;
    touch-action: pan-y; /* cho phép swipe ngang */
    padding:8px;
}

.preview-image[b-h1pg1kqch1] {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

    .preview-image.fade[b-h1pg1kqch1] {
        opacity: 0;
    }

.nav-btn[b-h1pg1kqch1] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    height:60px;
    font-size: 1.5rem;
    padding: 2px;
    cursor: pointer;
    z-index: 2;
    border-radius: 3px;
}

    .nav-btn.left[b-h1pg1kqch1] {
        left: 10px;
    }

    .nav-btn.right[b-h1pg1kqch1] {
        right: 10px;
    }

.thumbnail-frame[b-h1pg1kqch1] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 100%;
    max-width: 600px;
}

.thumbnail[b-h1pg1kqch1] {
    width: 100%;
    aspect-ratio: 1 / 0.7;
    object-fit: cover;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid transparent;
    transition: transform 0.2s, border 0.2s;
}

    .thumbnail:hover[b-h1pg1kqch1] {
        transform: scale(1.05);
    }

    .thumbnail.active[b-h1pg1kqch1] {
        border: 2px solid #007bff;
    }

.pagination[b-h1pg1kqch1] {
    display: flex;
    justify-content: center;
    align-items: center;

}

button[disabled][b-h1pg1kqch1] {
    opacity: 0.4;
    cursor: not-allowed;
}
/* /Components/UC/ModalDialog/ModalDialog.razor.rz.scp.css */
.modal-backdrop-custom[b-m907xakk0t] {
    position: fixed;
    inset: 0;
    background: rgba(40, 20, 30, 0.8);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container[b-m907xakk0t] {
    background: white;
    border-radius: 10px;
    width: min(var(--modal-width, 800px), 95vw);
    height: min(var(--modal-height, 600px), 90vh);
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}

.modal-header[b-m907xakk0t] {
    flex-shrink: 0;
    padding: 10px 15px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title[b-m907xakk0t] {
    font-weight: 600;
}

.modal-body[b-m907xakk0t] {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
}

.modal-footer[b-m907xakk0t] {
    flex-shrink: 0;
    padding: 10px 15px;
    background: lightgray;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Mobile tối ưu */
@media (max-width: 576px) {
    .modal-container[b-m907xakk0t] {
        width: 95vw;
        height: 80vh;
    }
}
/* /Components/UC/SideMenu/SideMenu.razor.rz.scp.css */

@media(max-width:768px) {
    .menu-background[b-mugbb8tpl9] {
        width: 100vw;
    }
}
/* /Components/UC/TreeList/TreeListComponent.razor.rz.scp.css */
.treelist-header[b-svdq20ayfk] {
    position: sticky;
    top: 0;
    z-index: 10;
    display: grid;
    align-items: center;
    font-weight: bold;
    background-color: lightblue;
    border-bottom: 1px solid #ccc;
    padding: 4px 0;
}

    .treelist-header .header-cell[b-svdq20ayfk] {
        padding: 4px 8px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
.tl-cell[b-svdq20ayfk] {
    padding: 2px 6px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tl-expander[b-svdq20ayfk] {
    width: 30px; /* khớp ExpanderWidth */
    text-align: center;
}

.tl-expander-icon[b-svdq20ayfk] {
    cursor: pointer;
    color: #555;
}

    .tl-expander-icon:hover[b-svdq20ayfk] {
        color: #000;
    }
/* /Components/UC/TreeList/TreeListView.razor.rz.scp.css */
.treelist-level[b-bg7gxebsw4] {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Header */
.treelist-header[b-bg7gxebsw4] {
    position: sticky;
    top: 0;
    z-index: 10;
    display: grid;
    align-items: center;
    font-weight: bold;
    background-color: lightblue;
    border-bottom: 1px solid #ccc;
    padding: 4px 0;
    
}
    .treelist-header .header-cell[b-bg7gxebsw4] {
        padding: 4px 8px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

/* Row */
.treelist-row[b-bg7gxebsw4] {
    /*display: grid;*/
    align-items: center;
    border-bottom: 1px solid darkgray;
    cursor: pointer;
    min-height: 28px;
    background-color: whitesmoke;
    touch-action: manipulation;

}

    .treelist-row:hover[b-bg7gxebsw4] {
        background-color: #f9f9f9;
    }

    .treelist-row .selected[b-bg7gxebsw4] {
        background-color: #dbeafe; /* xanh nhạt khi dòng được chọn */
    }
    .treelist-row.selected[b-bg7gxebsw4] {
        background-color: #dbeafe;
    }
/* Cell */
.tl-cell[b-bg7gxebsw4] {
    padding: 2px 6px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.button-cell[b-bg7gxebsw4]{

}
.top-level[b-bg7gxebsw4] { /*style cho dòng level đầu tiên trong cây*/
    font-style: italic;
    font-weight: bold;
    color: darkblue;
}

/* Expander cell */
.tl-expander[b-bg7gxebsw4] {
    width: 30px; /* khớp ExpanderWidth */
    text-align: center;
}

.tl-expander-icon[b-bg7gxebsw4] {
    cursor: pointer;
    color: #555;
}

    .tl-expander-icon:hover[b-bg7gxebsw4] {
        color: #000;
    }
/* Mobile layout */
.tl-mobile-line[b-bg7gxebsw4] {
    display: flex;
    gap: 6px;
    line-height: 1.4;
}

    .tl-mobile-line.mobile-main[b-bg7gxebsw4] {
        font-weight: 600;
        padding-left: 0;
    }

    .tl-mobile-line.mobile-sub[b-bg7gxebsw4] {
        padding-left: 12px; /* 👈 thụt dòng không phải dòng đầu */
    }

.mobile-header[b-bg7gxebsw4] {
    min-width: 90px;
    color: #666;
    font-size: 0.85rem;
}

.mobile-value[b-bg7gxebsw4] {
    flex: 1;
    word-break: break-word;
}
.treelist-mobile-cell[b-bg7gxebsw4] {
    display: flex;
    align-items: center;
    min-height: 28px;
}

.mobile-indent[b-bg7gxebsw4] {
    padding-left: 12px;
}
