body {
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Chiều cao toàn màn hình f0f2f5*/
    /*background-color: white;*/
}

.login-box {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 0.25rem;
}


