.sidebar {
    width: 270px;
    height: 100vh;
    background: #1e40af;
    color: white;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
        width: 5px;
    }

.sidebar::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,.3);
    }
.menu-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
    transition: .25s;
    font-weight: 600;
    font-size: 17px;
}

    .menu-parent:hover {
        background: #2563eb;
    }
    .menu-parent i {
        margin-right: 10px;
        font-size: 18px;
    }
.sub-menu {
    background: #edf4ff;
    padding: 8px 0;
}
    .sub-menu a {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px 24px;
        text-decoration: none;
        color: #444;
        transition: .25s;
        font-size: 15px;
    }
        .sub-menu a:hover {
            background: white;
            color: #2563eb;
            padding-left: 30px;
        }
        .sub-menu a.active {
            color: #2563eb;
            font-weight: bold;
            background: white;
            border-left: 4px solid #2563eb;
        }
    .sub-menu i {
        width: 20px;
        text-align: center;
    }
.menu-group {
    margin-bottom: 5px;
}
.arrow {
    transition: .3s;
}
.home-menu {
    margin: 15px;
    border-radius: 12px;
}
.menu-parent:hover {
    background: #2563eb;
    border-radius: 10px;
}
@media(max-width:768px) {

    .sidebar {
        width: 230px;
    }
}