.header-line[b-3gh99j41ku] {
    height: 56px;
    background-color: #002db3;
    color: black;
    display: flex;
    font-family: 'Times New Roman';
    /*border-bottom: 1px solid #d6d5d5;*/
    width: 100%;
    /*position: fixed;*/
    /*top: 55px;*/
}

.header-title[b-3gh99j41ku] {
    font-size: 22px;
    font-weight: bold;
    align-content: center;
    margin-left: 35px;
}

.header-user[b-3gh99j41ku] {
    font-size: 18px;
    align-content: center;
    margin-right: 20px;
}

.btn-logout[b-3gh99j41ku] {
    height: 40px;
    width: 200px;
    padding: 0px;
    margin: 0px 5px 0px 10px;
}
@media (max-width: 640.98px) {
    .header-line[b-3gh99j41ku] {
        height: 28px;
        background-color: #333333;
    }
}